.button {
  padding-block: 10px;
  padding-left: 37px;
  padding-right: 37px;

  line-height: 1.38;

  color: var(--color-text-light);
  background: var(--color-brand-first);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.6;
  }
}
