.button {
  padding-block: 10px;
  padding-left: 37px;
  padding-right: 37px;

  line-height: 1.6;

  color: var(--color-text-light);
  background: var(--color-brand-first);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }

  // @include customTransition(scale);

  // &:hover,
  // &:focus {
  //   scale: 1.02;

  //   // padding-block: 9px;
  //   box-shadow: var(--color-box-shadow);
  //   border: 2px solid var(--color-text-light);
  // }
}
