.section {
  &__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
  }

  &__suptitle {
    font-size: 18px;
    line-height: 1.66;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.6;
  }

  @media screen and (min-width: 768px) {
    &__suptitle {
      font-size: 20px;
      line-height: 1.65;
    }

    &__desc {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}
