.socials-list {
  display: flex;
  gap: 25px;

  &__icon {
    fill: var(--color-bg-light);

    @include customTransition(fill);
  }

  &__icon:hover,
  &__icon:focus {
    fill: var(--color-brand-first);
  }
}
